<div class="container">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="title" class="form-label">Book Title</label>
        <input type="text" class="form-control" id="title" placeholder="" formControlName="title" required>
        <div *ngIf="bookForm.get('title')?.hasError('required') && bookForm.get('title')?.touched" class="text-danger">    
            This Book needs a title
        </div>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Book Author</label>
        <input type="text" class="form-control" id="author" placeholder=""  formControlName="author" required>
        <div *ngIf="bookForm.get('author')?.hasError('required') && bookForm.get('author')?.touched" class="text-danger">    
            This Book needs an author
        </div>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Book Category</label>
        <input type="text" class="form-control" id="category" placeholder="" formControlName="category" required>
        <div *ngIf="bookForm.get('category')?.hasError('required') && bookForm.get('category')?.touched" class="text-danger">    
            This Book needs a category
        </div>
    </div>

    <button class="btn btn-secondary m-1" (click)="goToBookList()">Back</button>
    <button [disabled]="!bookForm.valid" class="btn btn-success m-1" type="submit">Add New Book</button>

    </form>

</div>